*{font-family: arial, sans-serif;}
body{background-color: #e9e9e9}

/*ESTRUTURA*/
/*CABEÇALHO E RODAPÉ*/
header.pagina{height: 75px; background: #ccc; clear: both; position: relative}
footer{padding: 5px 0; height: 40px;  background: #ccc; clear: both;}
footer p{text-align: center; font-size: 8pt;}

/*CONTAINER E SIDEBAR*/
#container{border: 1px solid #333; max-width:960px; margin:0 auto; background:#fff; overflow:hidden;}
#content{min-height: 500px; width:77%; float:right; border-left: 1px solid #ccc; }
#sidebar{width:22%; float:left; background:#fff;}

h2{color: #333333;font-size: 14pt; font-weight: normal; margin-left: 0;margin-top: 0;}
h2 a{color: #09f;font-size: 14pt; font-weight: normal; margin-left: 0;margin-top: 0; text-decoration: none}
fieldset{padding: 10px; margin: 10px 0px; border:1px solid #ccc;}
fieldset legend{font-size: 10pt; color:#ccc; padding: 0px 10px;}
a{font-size: 11pt;}
hr{border: 1px solid #ccc}

div.resultado {height: 70px; background-color: #ccc; color: #333; margin-bottom: 5px; padding: 10px; font-size: 10pt;}

div.icone{position: relative; float: left; display: inline-block; width: 70px; height: 100%; }
div.icone img{position: absolute; top: 25%; left: 20%}
div.icones {position: relative; float: right; display: inline-block; width: auto; height: 100%; }
div.icones img{padding: 21px 10px; float: left}
div.info{float: left; display: inline-block; width: 70%; height: 100%; }
div.info p{margin: 7px 0px;}
div.info p a{text-decoration: none}
div.resultado label{float: left; width: 100px; font-size: 11pt; font-weight: bold}
div.resultado.icone a{text-decoration: none}

div.formulario{padding: 15px; width:600px; height: auto; background-color: #fff;}
div.formulario.relatorio{}
div.formulario.relatorio p{float: left; display: inline-block}
div.formulario.dados{}
div.formulario.dados p {margin: 5px}
div.formulario.dados label{ float:left; width: 100px;}
div.formulario.login{margin: auto; width:300px; border: 1px solid #555;}

div.operacoes {width: 100%; height: auto; padding: 10px; margin: 3px 0px;}
div.operacoes a img {margin: 0px 10px}

div.formulario p a{padding: 3px; margin: 10px; border: 1px solid #555; border-radius: 1px; text-decoration: none; color: #555; font-size: 10pt;}
div.formulario p input[type="text"], input[type="search"], input[type="password"], input[type="date"], input[type="checkbox"], input[type="email"], input[type="number"], select, textarea
{width: 90%; font-size: 11pt; border: 1px solid #ccc; padding: 5px;}
div.formulario p input[type="submit"], input[type="reset"], input[type="button"]{padding: 10px; background-color: #333333; color: #ffffff; font-size: 10pt; border: none;}

div.formulario p input.w95, select.w95, textarea.w95 {width: 95%;}
div.formulario label{font-size: 10pt; color: #333333;}
div.formulario p.p50 {float: left; width: 50%;}
div.formulario p.p100 {float: left; width: 100%;}

/*MENU LATERAL*/
nav#menu_opcoes{  }
nav#menu_opcoes ul{width: 100%; list-style-type: none; margin: 0; padding: 0;}
nav#menu_opcoes ul li{text-align: center; }
nav#menu_opcoes ul li a:link{padding: 20px; font-size: 11pt; color: white; text-decoration: none;}
nav#menu_opcoes ul li a img{ width: 15px; float: left;}
nav#menu_opcoes ul li a:link, nav#menu_opcoes ul li a:visited{color: #333; display: block; height: 1%;}
nav#menu_opcoes ul li a:hover{background-color: #ccc; color: #333; display: block;}

/*MENU DE CONFIGURAÇÕES*/
nav.menu_configura{ padding: 5px}
nav.menu_configura ul{width: 50%; list-style: none; margin: 0; padding: 0}
nav.menu_configura ul li{text-align: left; padding: 5px 0px}
nav.menu_configura ul li a:link{font-size: 11pt; color: white; text-decoration: none;}
nav.menu_configura ul li a:link, nav.menu_configura ul li a:visited{color: #333; display: block; height: 1%;}
/*MENSAGENS DO SISTEMA*/
.trigger{padding: 15px 15px 15px 40px; background: #eee; font-size: 14px; margin-bottom: 15px;}
.trigger a{font-weight: 600; font-size: 12px; text-transform: uppercase; padding: 5px 15px; background: #069; color: #fff;}
.trigger a:hover{background: #09f; color: #fff;}

.accept{background: #71ca73 url(../icons/accept.png) center left 10px no-repeat}
.infor{background:  #c8dbfd url(../icons/infor.png) center left 10px no-repeat}
.alert{background:  #faf7b7 url(../icons/alert.png) center left 10px no-repeat}
.error{background:  #ffafaf url(../icons/error.png) center left 10px no-repeat}

/*ESTILOS DA PÁGINA DE IMPRESSÃO*/
header.secretaria{ width: 100%; height: auto; padding: 5px;}
header.secretaria p{font-size: 7pt; margin: 0; float: left}
header.secretaria div{ margin: auto; width: 400px; vertical-align: middle;}
header.secretaria div h3{ font-size: 8pt; margin: 2px}
header.secretaria div img{ float: left; margin: 0px 10px; width: 45px;}

div.info_pessoa{padding: 3px; width: 100%; height: auto}
div.info_pessoa fieldset {padding: 10px; margin: 3px;}
div.info_pessoa fieldset p{margin: 1px; font-size: 7pt}
div.info_pessoa fieldset p label{font-weight: bold;}
div.info_pessoa fieldset p span{margin-left: 10px; margin-right: 50px;}
div.info_pessoa fieldset legend{font-size: 6pt; color: #555}

div.lista_empenhos {padding: 3px; width: 100%; height: auto;}
div.lista_empenhos table {width: 100%; font-size: 7pt; border: 1px solid #ccc; text-align: center; border-collapse: collapse}
div.lista_empenhos table tr.barra_titulo {font-weight: bold;}
div.lista_empenhos table tr td{border: 1px solid #ccc; padding: 2px 0px;}