/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/10/2015, 09:47:33
    Author     : Miguel
*/


.clearfix:after{ content: ' '; display: block; clear: both}
.clearfix:before{ content: ' '; display: block; clear: both}

/*APARENCIA GERAL DE LISTAS*/

ul.lista{margin:0; padding:0; list-style: none; width: 100%; height: auto;}
ul.lista > li{background-color: #ccc; color: #333; font-size: 10pt; margin-bottom: 5px; border-left: 5px solid #555; display: flex; }
ul.lista > li > div.dados {float: left;     padding: 10px; width: 70%; height: auto; min-height: 100%; display: inline-block;}
ul.lista > li > div.dados > p{margin: 7px 0px; font-size: 9pt;}
ul.lista > li > div.dados > p > a.info{text-decoration: none; font-size: 9pt; color: #09f }
ul.lista > li > div.dados > p > label{float: left; width: 100px; font-weight: bold}
ul.lista > li > nav.acoes{text-align: center; width: 26%; position: relative}
ul.lista > li > nav.acoes > ul{margin: 0; padding: 0; position: absolute; top: 50%; left: 20%; transform: translateY(-50%)}
ul.lista > li > nav.acoes > ul > li{display: inline-block}
ul.lista > li > nav.acoes > ul > li > a{display: block; padding: 5px 10px}
ul.lista > li > nav.acoes > ul > li > a:hover{background-color: #bbb; border-radius: 5px; transition: background-color .2s ease-in;}

ul.usuario > li{background: #ccc url(../img/profile5.png) center left 10px no-repeat; background-size: 32px}
ul.usuario > li > div.dados {margin-left: 50px}